body {
    background: rgb(247, 236, 247); ;
    max-width: 900px;
    margin: auto;
    font-size: 14px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
  .habilidad {
    color: rgb(167, 153, 246);
    

}
 #titlle {
   
    font-style: italic;
    
    margin: 0;
    color: rgb(22, 22, 21);
    padding-top: 10px;
    
    
    
    text-align: center;
   
    
    
    
 }
.habilidad{
    font-style:italic;
    
}

.sobre{
   
    color: rgb(22, 22, 21);
    padding: 5px;
    margin: auto;
    text-align: left;
}

.post_image {
   background-size: auto;height: 300px;width: 100%;
}

.linkedi {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sobreMim{
    color: rgb(64, 54, 127);
    font-style:italic;
}